body
{
background-color:rgb(243, 243, 243);
}
.top{
    /* text-align: center; */
    /* position: relative; */
    /* top: 70px; */
    /* right: 30px; */
    font-size: 0.7rem;
    color: white;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.clock{
    position: relative;
    left: 19rem;
    top: 4.3rem;
    z-index: 1001;
}

.icon-area{
    position: relative;
    top: 4rem;
    right: 1rem;
    z-index: 1001;
    float: left;
}

.icon-area img{
    width: 8%;
}
.box
{
background-color:#000000;
height:465px;
width:250px;
border-radius:2rem;
position:relative;
top:30px;
left:40%;
border: 2px solid rgb(100, 100, 100);
outline: 5px dashed black;
box-shadow: black 0px 0px 20px 5px;
} 
.display
{
width:220px;
position:relative;
left:20px;
top:20px;
height:60px;
}
.display input
{
width: 220px;
position:relative;
right: 0.5rem;
top:70px;
height:45px;
color:white;
background-color: black;
font-size:31px;
text-align:right;
border: none;
} 
.keys
{
position:relative;
top:95px;
}
.button
{
width:40px;
height:40px;
border:none;
border-radius: 100%;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;
}
.button.black
{
color:white;
background-color:#6f6f6f;
border-bottom:black 2px solid;
border-top:2px #6f6f6f solid;
}
.button.pink
{
color:black;
background-color:#f69906;
border-bottom:black 2px solid;
}
.button.black
{
color:white;
background-color:303030;
border-bottom:black 2px solid;
border-top:2px 303030 solid;
}
.button.green
{
color:rgb(0, 0, 0);
background-color: #f69906;
border-bottom:black 2px solid;
border-top:2px FF9933 solid;
}
.gray:active
{
border-top:black 2px solid;
border-bottom:2px #6f6f6f solid;
}
.pink:active
{
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}
.black:active
{
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}
.orange:active
{
border-top:black 2px solid;
border-bottom:FF9933 2px solid;
}
.zero{
margin-left: 1.2rem;
background-color: #6f6f6f;
padding-left: 15px;
text-align: left;
color: white;
border: none;
width: 100px;
height: 40px;
border-radius: 50px
}
p
{
line-height:10px;
}

.footer{
    position: relative;
    top: 6rem;
    margin: 1rem 4rem;
}
